
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
</head>
<body>
  <h1 th:text="${title}">仮のタイトル、今回だとお問い合わせ内容確認</h1>
   <p>入力内容をご確認ください</p>
  　　	<div th:object="${inquiryForm}">

		<table border="1">
			<tr>
				<th align="right">お問い合わせ項目：</th>
				<td th:switch="*{inquiryType}">
					<span th:case="100">研修内容について</span>
					<span th:case="200">研修講師について</span>
					<span th:case="300">研修会場について</span>
					<span th:case="400">その他</span>
				</td>
			</tr>
			<tr>
				<th align="right">お名前:</th>
				<td th:text="*{inquiryUser}"></td>
			</tr>
			<tr>
				<th align="right">ご連絡先メールアドレス:</th>
				<td th:text="*{inquiryUserMail}"></td>
			</tr>
			<tr>
				<th align="right">お問い合わせ内容:</th>
				<td th:text="*{inquiryInfo}"></td>
			</tr>
		</table>

		<br>
	    <form method="post" action="#" th:action="@{/inquiry/form}">
	      <input type="hidden" name="inquiryType" th:value="*{inquiryType}">
	      <input type="hidden" name="inquiryUser" th:value="*{inquiryUser}">
	      <input type="hidden" name="inquiryUserMail" th:value="*{inquiryUserMail}">
	      <input type="hidden" name="inquiryInfo" th:value="*{inquiryInfo}">
		  <input type="submit" value="戻る">
	    </form>
	   
	    <form method="post" action="#" th:action="@{/inquiry/complete}">
	      <input type="hidden" name="inquiryType" th:value="*{inquiryType}">
	      <input type="hidden" name="inquiryUser" th:value="*{inquiryUser}">
	      <input type="hidden" name="inquiryUserMail" th:value="*{inquiryUserMail}">
	      <input type="hidden" name="inquiryInfo" th:value="*{inquiryInfo}">
	      <input type="submit" value="送信">
	    </form>
  　　</div>
   
  <hr>
  研修
  <p>入力内容をご確認ください</p>
  <div th:object="${inquiryForm}">
    <p th:value="*{inquiryType}"></p>
    <p>お名前</p>
    <p th:text="*{inquiryUser}"></p>
    <p>ご連絡先メールアドレス</p>
    <p th:text="*{inquiryUserMail}"></p>
    <p>お問い合わせ内容</p>
    <p th:text="*{inquiryInfo}"></p>
    <form method="post" action="#" th:action="@{/inquiry/form}">
      <input type="hidden" name="inquiryType" th:value="*{inquiryType}">
      <input type="hidden" name="inquiryUser" th:value="*{inquiryUser}">
      <input type="hidden" name="inquiryUserMail" th:value="*{inquiryUserMail}">
      <input type="hidden" name="inquiryInfo" th:value="*{inquiryInfo}">
	  <input type="submit" value="戻る">
    </form>
    <form method="post" action="#" th:action="@{/inquiry/complete}">
      <input type="hidden" name="inquiryType" th:value="*{inquiryType}">
      <input type="hidden" name="inquiryUser" th:value="*{inquiryUser}">
      <input type="hidden" name="inquiryUserMail" th:value="*{inquiryUserMail}">
      <input type="hidden" name="inquiryInfo" th:value="*{inquiryInfo}">
      <input type="submit" value="送信">
    </form>
  </div>
 
  <hr> 
  
  
  
</body>
</html>