
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>
<body>


	<header>
		<div class="headerBlackBoxUnder">
			<h1 th:text="${title}" class="container"></h1>
		</div>
		<div class="headerBlackBoxUp">
			<h2 class="container">
				Task Detail <i class="fas fa-edit"></i>
			</h2>
		</div>
	</header>
	<section class="container box">
		<div >

			<form method="post" th:action="@{/todo/list}" th:object="${oneTask}">
			
				<table class="table detailTable">
					<tr>
						<td class="data"><label for="todo_title">Task <i class="fas fa-thumbtack"></i></label> </td>
						<td><input name="todo_title" type="text" th:value="*{todo_title}" class="detailInfo"></td>
					</tr>
					<tr>
						<td class="data"><label for="todo_date">Day <i class="far fa-calendar-alt"></i></label></td>
						<td> <input name="todo_date" th:value="*{todo_date}" class="detailInfo" type="date"><!--  -->
						
						</td>
						
					</tr>	
					<tr>
						<td class="data"><label for="todo_time">Time <i class="fas fa-clock"></i></label>
						<td><input name="todo_time" type="text" th:value="*{todo_time}" class="detailInfo"></td>
					</tr>	
					<tr>	
						<td class="data"><label for="todo_place">Place <i class="fas fa-map-marked-alt"></i></label> 
						<td><input name="todo_place" type="text" th:value="*{todo_place}" class="detailInfo"></td>
					</tr>
				</table>
				
				<div>
					<input type="submit" value="Save" class="btn" id="saveBtn">
					<input type="hidden" name="todo_id" th:value="*{todo_id}">
				</div>
			</form>
			
			<form  method="get" th:action="@{/todo/list}">
				<div class="clearfix">
					<input type="submit" value="Back" class="btn" id="backBtn">
				</div>
			</form>
		</div>
	</section>
	<footer> </footer>	

</body>
</html>